<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Editar Curso</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Editar Curso</h2>
        <form th:action="@{/curso/GuardarModificacion1}" method="POST" th:object="${curso}">
            <input type="text" placeholder="id" readonly="true" th:field="*{id_curso}"/>
            <input type="text" placeholder="nombre" th:field="*{nomCurso}"/>
            <input type="number" placeholder="edad"th:field="*{duracion}"/>             
            <button type="submit">Guardar</button>
            <a th:text="cancelar" th:href="@{/admin}">cancelar</a>
        </form>
    </body>
</html>
