<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Inscripcion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
        <nav class="nav">
            <a class="nav-link active" aria-current="page" th:href="@{/curso}">Cursos</a>
            <a class="nav-link" th:href="@{/estudiante}">estudiantes</a>            
        </nav>
        <h2>Estudiante</h2>
        <form th:action="@{/admin/inscribir}" method="POST" th:object="${est}">
            <input type="text" placeholder="nombre" th:field="*{nombreEstudiante}"/>
            <input type="number" placeholder="edad"th:field="*{edad}"/>
            <input type="number" placeholder="dni"th:field="*{dni}"/>
            <input type="text" placeholder="direccion"th:field="*{direccion}"/>
            <h2>Curso</h2>
            <select name="id_curso">
                <option th:each="c:${listaCurso}" th:value="${c.id_curso}" th:label="${c.nomCurso}"></option>
            </select>      
            <button type="submit"> inscribir</button>
        </form>

        <h2>Inscripciones</h2>
        <table class="table">
            <thead> 
                <tr>
                    <th>
                        Estudiante
                    </th>
                    <th>
                        Curso
                    </th>
                    <th>
                        Fecha de Inscripción
                    </th>
                    <th>
                        Acción
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="inscripcion : ${listaInscripcion}">

                    <td th:text="${inscripcion.estudiante.nombreEstudiante}">

                    </td>
                    <td th:text="${inscripcion.curso.nomCurso}">

                    </td>
                    <td th:text="${inscripcion.fecha_inscripcion}">

                    </td>
                    <td>
                        <a th:href="@{/admin/eliminar2/}+${inscripcion.id_inscripcion}">eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    </body>
</html>
